<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADV Shop</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
<div class="jumbotron">
    <h1 class="display-4">Welcome to ADV Shop!</h1>
    <p class="lead">e-commerce Advance Programing</p>
    <hr class="my-4">
    <p>Click to see PRODUCT LIST</p>
    <a class="btn btn-primary btn-lg" th:href="@{/product/list}" role="button">Go to Product List</a>
</div>
</body>
</html>