name: SonarCloud Analysis

on:
  push:
    branches:
      - '**' # Ini agar semua branch, termasuk module-2-exercise, terbaca
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Penting agar SonarCloud tahu siapa yang nulis kode (blame info)

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Ini otomatis ada dari GitHub
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}   # Ini yang kamu buat di Settings tadi
        run: ./gradlew build sonar --info